@media print and (-webkit-min-device-pixel-ratio: 0) {
  @page {
    size: 260mm 365mm;
    margin: 0mm;
    column-fill: auto
  }
  .page {
    margin: 0mm !important;
    border: none
  }
}

* {
  margin: 0;
  padding: 0
}

body {
  background-color: #bfbfbf;
  --marge-haut: 6mm;
  --marge-bas: 12mm;
  --grand-fond: 10mm;
  --petit-fond: 15mm
}

.tiny {
  display: inline-block;
  width: 1px
}

.footnote-backref {
  display: none
}

/* ------- LAYOUT GLOBAL --------------------------------------------------------------- */

.page {
  height: 365mm;
  width: 260mm;
  background-color: white
}

.page-left, .page-right {
  width: 235mm;
  height: 347mm;
  position: relative;
  top: 6mm
}

.page-left-text, .page-right-text {
  width: 240mm;
  height: 347mm;
  position: relative;
  top: 10mm;
  left: 10mm
}

.page-left {
  left: 10mm
}

.page-right {
  left: 15mm
}

.hyx-ajouts {
  font-family: 'nanook-bold';
  font-size: 12pt;
  line-height: 16pt;
  margin-bottom: 18mm
}

/* Bandeau */

.bandeau-haut {
  height: 12mm;
  width: 100%
}

.cadrebandeau {
  border: dotted 1px;
  width: 97.2%;
  padding: 0.8mm 3mm
}

.numpage, .titre-courant, .navigation {
  font-family: 'panamera';
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  font-size: 9pt;
  text-transform: uppercase
}

.titre-courant {
  margin-left: 8mm;
  margin-right: 8mm;
  letter-spacing: 1px;
  width: 55px;
  display: inline-block
}

.bandeau-haut span {
  display: inline-block
}

.bandeau-haut img {
  display: inline-block;
  width: 9px;
  margin-left: 5px
}

.navigation {
  letter-spacing: 1px
}

.page-right .numpage,
.page-right-text .numpage {
  float: right
}

.page-right .titre-courant,
.page-right-text .titre-courant {
  float: right
}

.page-right .navigation,
.page-right-text .navigation {
  margin-left: 40mm
}

.page-left .navigation,
.page-left-text .navigation {
  margin-left: 150mm
}

/* -- Page 1: Couv --------------------------------------------------------------- */

#cover {
  width: calc(260mm - var(--grand-fond) - var(--grand-fond));
  height: calc(365mm - var(--marge-haut) - var(--marge-bas));
  padding-left: var(--grand-fond);
  padding-right: var(--grand-fond);
  padding-top: var(--marge-haut);
  padding-bottom: var(--marge-bas);
  background-color: white
}

#cover h1 {
  font-family: 'sinkin-sans';
  font-weight: 700;
  font-size: 158pt;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px black;
  line-height: 154pt;
  position: relative;
  left: -3mm
}

#cover h1 img {
  display:inline-block;
  width: 48mm;
  position: relative;
  left: 19mm
}

#cover h2 {
  margin-top: 8mm;
  font-family: 'sinkin-sans';
  font-weight: 700;
  font-size: 13pt;
  border: dotted 1px;
  display: block;
  width: calc(100% - 3mm);
  padding-right: 3mm;
  padding-top: 1mm;
  height: 9mm;
  text-align: right
}

#img-cover {
  width: 183mm;
  position: absolute;
  top: 104mm;
  left: 40mm;
  transform: rotate(-5.25deg);
  transform-origin: center
}

#edito {
  position: absolute;
  left: 10mm;
  top: 270mm;
  border: dotted 1px black;
  width: 240mm;
  height: 84mm
}

#edito h3 {
  position: absolute;
  transform: rotate(-5.25deg);
  font-family: 'sinkin-sans';
  font-weight: 800;
  font-size: 13pt;
  left: 5mm;
  top: -5mm;
  background-color: white;
  padding: 0 2mm
}

.edito-content {
  column-count: 2;
  column-gap: 6mm;
  height: calc(100% - 10mm);
  padding: 8mm 6mm
}

#edito p {
  font-family: 'sinkin-sans';
  font-weight: 600;
  font-size: 11.8pt;
  line-height: 16pt;
  padding-top: 9pt;
  text-indent: 8mm
}

#edito p:first-of-type {
  padding-top: 0;
  text-indent: 0
}

#edito #signature {
  padding-top: 0;
  text-indent: 0;
  position: absolute;
  bottom: -2mm;
  right: 15mm;
  transform: rotate(-3.75deg);
  padding: 0 2mm;
  background-color: white
}

/* -- Page 2: Workshop --------------------------------------------------------------- */

#workshop {
  width: calc(100% - var(--grand-fond) - var(--petit-fond));
  height: calc(100% - var(--marge-haut) - var(--marge-bas));
  display: grid;
  grid-gap: 3mm;
  grid-template-columns: [start col1] 33.33% [col2] 33.33% [col3] 33.33% [end];
  grid-template-rows: [start row1] 21% [row2] 20% [row3] 31% [row4] 27%[end];
  padding-top: var(--marge-haut);
  padding-left: var(--grand-fond);
  padding-right: var(--petit-fond)
}

#workshop header {
  grid-column-start: start;
  grid-column-end: end;
  grid-row-start: start;
  grid-row-end: 1;
  position: relative
}

#workshop-chapo {
  grid-column-start: start;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3
}

#workshop-image {
  grid-column-start: start;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-right: 2mm;
  overflow: hidden
}

#text-data-workshop {
  flow-into: workshop contents
}

#workshop-col-01 {
  flow-from: workshop;
  grid-column-start: start;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: end;
  margin-bottom: 2mm
}

#workshop-col-02 {
  flow-from: workshop;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: end
}

#workshop-col-03 {
  flow-from: workshop;
  grid-column-start: 3;
  grid-column-end: end;
  grid-row-start: 2;
  grid-row-end: end;
  margin-top: 5mm;
  margin-bottom: 3mm
}

#workshop h1 {
  font-family: 'panamera';
  font-weight: bold;
  font-size: 46pt;
  letter-spacing: 0.2mm
}

#workshop #chercher {
  position: absolute;
  top: 9mm;
  left: 2mm
}

#workshop #manipuler {
  position: absolute;
  top: 24mm;
  left: 50mm;
  transform: rotate(-4deg);
  transform-origin: center
}

#workshop #partager {
  position: absolute;
  top: 40mm;
  left: 113mm;
  transform: rotate(2deg);
  transform-origin: center
}

#text-data-workshop p:not(.exergue) {
  font-family: 'sinkin-sans';
  font-weight: 600;
  font-size: 8.2pt;
  line-height: 12.4pt
}

#workshop #imprimer {
  position: absolute;
  top: 20mm;
  left: 164mm;
  transform: rotate(-5deg);
  transform-origin: center
}

.p1 {
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(20deg, 0deg);
  position: absolute;
  left: .2em
}

.p2 {
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-20deg, 0deg);
  position: absolute;
  left: 2.2em
}

.p3 {
  position: absolute;
  left: 4.6em
}

.bandeau-prepostprint .element-prepost-print {
  display: inline-block;
  position: relative;
  width: 6.3em;
  margin-left: 2.8mm
}

.bandeau-prepostprint .element-prepost-print:first-of-type {
  margin-left: 0mm
}

.bandeau-prepostprint p {
  font-family: 'nanook-icon';
  font-size: 10pt
}

.bandeau-prepostprint .picon {
  position: absolute;
  left: 7.45em
}

.bandeau-prepostprint:nth-of-type(2) {
  position: absolute;
  bottom: 0
}

#workshop img {
  height: 130%;
  position: relative;
  left: -30%;
  top: -15%
}

#workshop-chapo {
  font-family: 'panamera';
  font-weight: bold;
  font-size: 13pt;
  line-height: 16pt;
  margin-top: 8mm
}

.exergue {
  font-family: 'panamera';
  font-weight: bold;
  font-size: 11pt;
  line-height: 14pt;
  text-align: center;
  padding: 7mm 3mm;
  margin-top: 6mm;
  margin-bottom: 6mm;
  border-top: dotted 1px;
  border-bottom: dotted 1px
}

#workshop .text-origine {
  margin-top: 0.5mm !important; /* hack */
}

/* -- Page 3-8: Projets --------------------------------------------------------------- */

/* LAYOUT PROJETS */

.projets-colonnes {
  flow-from: projets;
  height: 100%
}

#all-projets {
  flow-into: projets contents
}

.grid-projets {
  width: 100%;
  height: 335mm;
  display: grid;
  grid-template-columns: [start col1] 33.33% [col2] 33.33% [col3] 33.33% [end];
  grid-template-rows: [start] 100%[end]
}


.projets-col-01 {
  grid-column-start: start;
  grid-column-end: 2;
  grid-row-start: start;
  grid-row-end: end;
  padding-right: 3mm;
  margin-right: 1mm
}

.projets-col-02 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: start;
  grid-row-end: end;
  margin-left: 2mm;
  margin-right: 2mm
}

.projets-col-03 {
  grid-column-start: 3;
  grid-column-end: end;
  grid-row-start: start;
  grid-row-end: end;
  padding-left: 3mm;
  margin-left: 1mm
}

.grid-projets-page8 {
  width: 100%;
  height: 335mm;
  display: grid;
  grid-template-columns: [start col1] 33.33% [col2] 33.33% [col3] 33.33% [end];
  grid-template-rows: [start] 57.2% 30%[end]
}

.projets-col-page8-01 {
  grid-column-start: start;
  grid-column-end: 2;
  grid-row-start: start;
  grid-row-end: 2;
  padding-right: 3mm;
  margin-right: 1mm
}

.projets-col-page8-02 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: start;
  grid-row-end: 2;
  margin-left: 2mm;
  margin-right: 2mm
}

.projets-col-page8-03 {
  grid-column-start: 3;
  grid-column-end: end;
  grid-row-start: start;
  grid-row-end: 2;
  padding-left: 3mm;
  margin-left: 1mm
}

/* layout biographies (end project)*/

.projets-col-page8-04 {
  grid-column-start: start;
  grid-column-end: end;
  grid-row-start: 2
  grid-row-end: end;
}

.projets-col-page8-04 h2 {
  margin-top: 30mm;
  margin-bottom: 3mm;
  font-family: 'panamera';
  font-weight: bold;
  font-size: 12pt;
  padding-bottom: 14pt
}

.bio-col{
  column-count: 3;
  column-gap: 8mm
}

#biographies .bio {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid
}

.bio-text {
  flow-from: bio;
  height: 100%
}

#bio-text-data {
  flow-into: bio contents
}

/* STYLE projets */

.indent-projet {
  text-indent: 4.5mm
}

#all-projets img {
  padding-bottom: 2mm
}

#all-projets .bio {
  margin-top: 12mm;
  margin-bottom: 4mm
}

#all-projets .bio p {
  margin-top: 3mm;
  font-family: 'sinkin-sans';
  font-weight: 600;
  font-size: 8pt;
  line-height: 12pt;
  padding-left: 3mm
}

#all-projets .bio h1 {
  font-family: 'panamera';
  font-weight: bold;
  font-size: 14pt;
  border: solid 0.2pt;
  width: 96%;
  padding-left: 3mm;
  padding-top: 2mm;
  padding-bottom: 2mm;
  break-inside: avoid
}

#all-projets .project {
  margin-bottom: 6mm
}

#all-projets .project img {
  width: 100%
}

#all-projets .project .detail::before {
  content: '◥';
  margin-right: 0.8mm;
  font-size: 0.8em;
  position: relative;
  top: -0.1mm
}

#all-projets .project .presentation {
  margin-left: 3mm;
  padding-left: 3mm;
  border-left: dotted 1px;
  padding-bottom: 4mm
}

#all-projets .project p,
#all-projets .project h3 {
  font-family: 'sinkin-sans';
  font-weight: 700;
  font-size: 6pt;
  line-height: 9pt
}

#all-projets .project h1 {
  font-family: 'panamera';
  font-weight: bold;
  font-size: 12pt;
  margin-bottom: 2mm;
  position: relative;
  left: -6mm;
  background-color: white
}

#all-projets .project h2 {
  display: none
}

#all-projets .project h3 {
  margin-top: 9pt;
  margin-bottom: 4.5pt
}

#all-projets hr {
  display: none;
  border-top: solid 2px;
  border-bottom: none;
  border-left: none;
  border-right: none
}

/* styles biographies (end)*/

.bio-col {
  flow-from: bio;
  height: 100%;
  margin-right: 8mm
}

#biographies {
  flow-into: bio contents
}

#biographies .bio {
  margin-bottom: 7mm;
  break-inside: avoid
}

#biographies h1 {
  font-family: 'panamera';
  font-weight: bold;
  font-size: 10pt;
  border: solid 0.2pt;
  display: inline;
  padding-left: 2mm;
  padding-right: 2mm
}

#biographies p {
  margin-top: 3mm;
  margin-left: 2.4mm;
  font-family: 'sinkin-sans';
  font-weight: 700;
  font-size: 6pt;
  line-height: 9pt
}

/* hacks positionnements projets */

article[data-article-projets="dreams-office"] .bio,
article[data-article-projets="figures-libres"] .bio,
article[data-article-projets="latelier-des-chercheurs"] .bio,
article[data-article-projets="julie-blanc"] .bio {
  margin-top: 0 !important /* hack */
}

div[data-projet="archilab"] img:last-of-type {
  margin-bottom: 30mm
}

div[data-projet="anna-k"],
div[data-projet="deconstruction"],
article[data-article-projets="latelier-des-chercheurs"] {
  position: relative;
  top: -5mm
}

div[data-projet="anna-k"] img:first-of-type {
  margin-top: 5mm
}

div[data-projet="balsamine"] img:last-of-type {
  margin-bottom: -5mm
}

div[data-projet="experimenter-le-musee"] img:last-of-type,
div[data-projet="specimen-libre"] img:last-of-type {
  margin-bottom: 30mm
}

div[data-projet="imprimer-le-monde"] img:last-of-type {
  margin-bottom: 20mm
}

article[data-article-projets="ek"] .bio {
  margin-bottom: 15mm !important
}

/* -- Page 9-11: Restitutions --------------------------------------------------------------- */

/* LAYOUT restitutions */

.grid-text {
  width: 100%;
  height: 347mm;
  display: grid;
  grid-template-columns: [start col1] 33.33% [col2] 33.33% [col3] 33.33% [end];
  grid-template-rows: [start] 100%[end]
}

.text-col-left01 {
  grid-column-start: start;
  grid-column-end: 2;
  grid-row-start: start;
  grid-row-end: end;
  margin-right: 2mm
}

.text-col-left02 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: start;
  grid-row-end: end;
  margin-left: 1mm;
  margin-right: 1mm
}

.text-col-left03 {
  grid-column-start: 3;
  grid-column-end: end;
  grid-row-start: start;
  grid-row-end: end;
  margin-left: 2mm
}

/* FLOW Restitutions */

.text-colonnes {
  flow-from: textes;
  height: 100%
}

#restitutions {
  flow-into: textes contents
}




/* STYLE restitutions */

.icone-liste::before {
  content: '▃';
  position: relative;
  top: -1mm;
  margin-right: 0.8mm;
  font-size: 0.8em
}

.sup {
  position: relative;
  top: -0.3em;
  font-size: 0.8em;
  line-height: 0.8em
}

.icone-paragraphe::before {
  content: '▃';
  margin-right: 0.8mm;
  line-height: 5.5pt;
  position: relative;
  top: -0.5mm
}

a {
  text-decoration-skip: ink;
  -webkit-text-decoration-skip: ink;
  color: black
}

.text-data, #ours {
  margin-bottom: 18mm
}

.text-data img, #ours img {
  width: 100%
}

.text-origine::before {
  content: '✄ '
}

.text-origine {
  margin-top: 6mm;
  margin-bottom: 5.5pt;
  font-family: 'panamera' !important;
  font-weight: bold !important;
  font-size: 6.5pt !important;
  line-height: 10pt !important;
  text-indent: -3.5mm !important;
  padding: 3.5mm 3.5mm 0mm 3.5mm;
  position: relative;
  top: -3mm
}

.text-data .intro-antoine,
#ours .intro-antoine {
  margin-top: 12mm;
  margin-bottom: 0mm;
  padding: 3.5mm 3.5mm 0mm 3.5mm;
  position: relative;
  top: -5mm
}

.text-data .text-titre,
#ours .text-titre {
  break-inside: avoid
}

.text-data h1, #ours h1 {
  font-family: 'panamera';
  font-size: 26pt;
  line-height: 26pt;
  font-weight: bold;
  break-inside: avoid
}

.text-data .text-auteur,
#ours .text-auteur {
  border: solid 0.2pt;
  padding-left: 2mm;
  padding-right: 2mm;
  background-color: white;
  display: inline;
  margin-left: 4mm;
  margin-bottom: 0mm !important;
  float: right;
  position: relative;
  top: -2mm;
  left: -6mm;
  -webkit-transform: rotate(-3deg)
}

.text-data .text-auteur h2,
#ours .text-auteur h2 {
  margin-bottom: 0mm !important
}

.text-data .first,
#ours .first {
  margin-top: 15mm !important
}

.text-data strong,
#ours strong {
  font-weight: 700 !important;
  font-size: 9.8pt !important
}

.text-data h2,
#ours h2 {
  font-family: 'panamera';
  font-weight: bold;
  font-size: 11pt;
  margin-bottom: 5.5pt;
  margin-top: 5.5pt;
  margin-left: 6mm
}

.text-data h3, #ours h3 {
  margin-left: 6mm
}

.text-data p,
#ours p,
.text-data .liste-texte li,
#ours .liste-texte li,
.text-data h3,
#ours h3 {
  font-family: 'sinkin-sans';
  font-weight: 600;
  font-size: 7pt;
  line-height: 11pt
}

.text-data p em,
#ours p em,
.text-data .liste-texte li em,
#ours .liste-texte li em,
.text-data h3 em,
#ours h3 em {
  font-style: italic
}

.text-data blockquote,
#ours blockquote {
  margin-top: 5.5pt;
  margin-bottom: 5.5pt
}

.text-data blockquote p,
#ours blockquote p {
  margin-left: 6mm;
  font-weight: 500 !important
}

.text-data p,
#ours p {
  margin-bottom: 11pt
}

.text-data .indent,
#ours .indent {
  margin-left: 6mm
}

.text-data ul,
#ours ul {
  list-style: none
}

.text-data .liste-texte li,
#ours .liste-texte li {
  margin-left: 4.4mm;
  text-indent: -4.4mm
}

.text-data .liste-texte li::before,
#ours .liste-texte li::before {
  content: "– "
}

.text-data .appelnote::before,
#ours .appelnote::before {
  content: '◥';
  position: relative;
  margin-right: 0.8mm;
  font-size: 0.8em
}

.text-data .appelnote,
#ours .appelnote {
  font-family: 'sinkin-sans' !important;
  font-weight: 700 !important;
  font-size: 6pt !important;
  line-height: 5.5pt;
  text-decoration: none;
  color: black;
  position: relative;
  top: -0.8mm
}

.text-data figure .figcaption,
#ours figure .figcaption {
  font-family: 'hk-grotesk-semiBold' !important;
  font-size: 6pt !important;
  line-height: 8pt !important;
  padding-top: 5.5pt !important;
  padding-bottom: 11pt !important;
  margin: none !important;
  display: block
}

.text-data .footnotes,
#ours .footnotes {
  font-family: 'hk-grotesk-semiBold'!important;
  font-size: 6pt;
  line-height: 8pt;
  margin-top: 5mm;
  margin-right: 7mm
}

.text-data .footnotes li,
#ours .footnotes li {
  display: inline
}

.text-data .footnotes li::before,
#ours .footnotes li::before {
  content: '◥';
  font-size: 0.8em;
  position: relative;
  margin-right: 0.8mm
}

.text-data .footnotes .numnote::after,
#ours .footnotes .numnote::after {
  content: '. '
}

.text-data .footnotes .numnote,
#ours .footnotes .numnote {
  font-weight: 700 !important;
  text-decoration: none;
  color: black
}

.text-data p+ul {
  margin-top: -11pt
}

/* hacks restitutions */

article[data-restitution="kevin-donnot"] {
  margin-top: 35mm
}

article[data-restitution="etienne-ozeray-antoine-gelgon"] {
  margin-top: 35.6mm;
  margin-bottom: 60mm
}

.letter-spacing--002 {
  letter-spacing: -0.02mm !important
}

.letter-spacing--005 {
  letter-spacing: -0.05mm !important
}

article[data-restitution="anthony-masure"] {
  margin-bottom: 31mm !important
}

div[data-page="12"] .text-col-left02 .text-colonnes {
  height: 98%
}

/* -- Page 12: Ressources --------------------------------------------------------------- */

/* LAYOUT ressources */

.ress-colonnes {
  flow-from: ressources
}

#ressources {
  flow-into: ressources contents
}

.grid-ress {
  width: 100%;
  height: 315mm;
  display: grid;
  grid-template-columns: [start] 25% 25% 25% 25% [end];
  grid-template-rows: [start] 60% 40%[end]
}

.ress-col-left01 {
  grid-column-start: start;
  grid-column-end: 2;
  grid-row-start: start;
  grid-row-end: end;
  margin-right: 3mm
}

.ress-col-left02 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: start;
  grid-row-end: end;
  margin-right: 3mm
}

.ress-col-left03 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: start;
  grid-row-end: 1;
  margin-right: 1.5mm
}

.ress-col-left04 {
  grid-column-start: 4;
  grid-column-end: end;
  grid-row-start: start;
  grid-row-end: 1;
  margin-left: 1.5mm
}

.ress-col-left05 {
  grid-column-start: 3;
  grid-column-end: end;
  grid-row-start: 2;
  grid-row-end: end;
  margin-left: 1.5mm
}

#ressources .definition {
  break-inside: avoid
}

/* STYLE ressources */

#ressources h1 {
  font-family: 'panamera';
  font-weight: bold;
  font-size: 10pt;
  border: solid 0.2pt;
  display: inline;
  padding-left: 2mm;
  padding-right: 2mm;
  margin-right: 2mm;
  float: left;
  position: relative;
  top: 0.2mm
}

#ressources p {
  margin-top: 3mm;
  margin-left: 2.4mm;
  font-family: 'sinkin-sans';
  font-weight: 700;
  font-size: 6pt;
  line-height: 9pt
}

#col-ours {
  position: relative;
  margin-top: 12pt;
  flow-from: ours;
  border: solid 0.2pt;
  padding-top: 3mm;
  padding-left: 4mm;
  padding-right: 4mm
}

#ours {
  flow-into: ours contents;
  margin-bottom: 0 !important
}

#ours-x {
  display: inline;
  width: 11px !important;
  margin-left: 3px;
  margin-right: 3px
}

#ours-hyx {
  display: inline;
  width: 28px !important;
  margin-left: 3px;
  margin-right: 6px
}

#bandeau-isbn {
  border: dotted 1px;
  width: 100%;
  height: 20mm
}

#code-barre {
  width: 45mm;
  margin-left: 4mm;
  margin-top: 2.5mm;
  display: block
}

#bandeau-isbn p {
  font-family: 'sinkin-sans';
  font-weight: 600;
  font-size: 7pt;
  display: inline-block
}

#bandeau-isbn p:first-of-type {
  margin: 0.8mm 4mm
}

#bandeau-isbn #hyx {
  width: 25mm;
  position: absolute;
  bottom: 6mm;
  right: 8mm
}
