
@font-face {
    font-family: 'panamera';
    src: url('panamera-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'panamera-light';
    src: url('panamera-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'panamera';
    src: url('panamera-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
